.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.control label {
  width:150px;
  display: inline-block;
}

.control .button {
  display: inline-block;
  padding: 2px 10px 2px 10px;
  border: 1px solid black;
  margin-left: 10px;
  cursor: pointer;
}

.control .value {
  display: inline-block;
  padding: 2px 10px 2px 10px;
  margin-left: 10px;
  width: 50px;
}
